<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="col-lg-4 col-md-5 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{{ "register" | translate }}</h1>
                <p class="text-center">{{ "writeinfo" | translate }}</p>
            </div>
            <div class="card-body">
                <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" autocomplete="off">
                    <div class="form-group">
                        <label for="name">{{ "name" | translate }}</label>
                        <input [(ngModel)]="name" type="text" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="lastName">{{ "lastname" | translate }}</label>
                        <input [(ngModel)]="lastname" type="text" name="lastName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">{{ "email" | translate }}</label>
                        <input [(ngModel)]="email" type="text" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="username">{{ "username" | translate }}</label>
                        <input [(ngModel)]="username" type="text" name="username" class="form-control">
                    </div>
                    <div class="form-group mt-2">
                        <label for="password">{{ "password" | translate }}</label>
                        <input [(ngModel)]="password" type="text" name="password" class="form-control">
                    </div>
                    <div class="form-group mt-2  text-end">
                        <button class="btn btn-dark w-100 mb-1">
                            {{ "register" | translate }}
                        </button>
                        <a routerLink="/login">{{"haveaccount"|translate}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>