<div class="row mt-1">

  <!-- side bar -->
  <div class="col-sm-12 col-md-4 col-lg-3 col-12">
    <div class="card">
      <div class="card-header text-center">
        <h3>{{ "categories" | translate }}</h3>
      </div>
      <div class="card-body">

        <!-- category search -->
        <div class="input-group mb-2">
          <span class="input-group-text" id="basic-addon-1">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
          <input
            [(ngModel)]="searchCategory"
            type="search"
            class="form-control"
            placeholder="{{ 'search' | translate }}"
          />
        </div>
        <!-- category search -->

        <!-- category list -->
        <ul class="categories">
          <li
            (click)="changeCategory(null)"
            [ngClass]="request.categoryId === null ? 'active' : ''"
          >
            {{ "allproducts" | translate }}
          </li>
          <li
            (click)="changeCategory(item.id)"
            *ngFor="let item of categories | category : searchCategory"
            [ngClass]="request.categoryId === item.id ? 'active' : ''"
          >
            {{ item.name | translate  }}
          </li>
        </ul>
        <!-- category list -->

      </div>
    </div>
  </div>
  <!-- side bar -->

  <!-- content -->
  <div class="col-sm-12 col-md-8 col-lg-9 col-12">

    <!-- product search -->
    <div class="input-group mt-1 mb-2">
      <span class="input-group-text" id="basic-addon-1">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <input
        [(ngModel)]="request.search"
        (keydown.enter)="getAll(request.pageNumber)"
        (search)="getAll(1)"
        type="search"
        class="form-control"
        placeholder="{{ 'search' | translate }}"
      />
    </div>
    <!-- product search -->

    <!-- product cards -->
    <div class="row">
      <div
        *ngFor="let item of response?.data"
        class="col-xl-4 col-md-6 col-sm-6 col-lg-4 col-xxl-3 col-12 d-flex justify-content-center"
      >
        <div class="card mb-2" style="width: 260px">
          <div class="card-header">
            <img [src]="item.imageUrl" class="card-img-top" alt="..." />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">
              {{ item.description }}
            </p>
          </div>
          <div class="card-footer text-center">
            <h5 class="card-text">{{ item.price }}₺</h5>
            <a
             class="btn btn-dark w-100"
             (click)="shopping.addToCart(item)"
             id="cart"
             CartAnimation>
             <i class="fa-solid fa-cart-shopping"></i>
              {{ "addchart" | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- product cards -->

    <!-- pagination -->
    <div class="d-flex justify-content-center">
      <nav aria-label="Page navigation example" style="float: right">
        <ul class="pagination">
          <li class="page-item" *ngIf="!response?.isFirstPage">
            <a
              class="page-link"
              aria-label="Previous"
              (click)="getAll(response.pageNumber - 1)"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          <li
            class="page-item"
            *ngFor="let item of pageNumbers"
            [ngClass]="response.pageNumber === item ? 'active' : ''"
          >
            <a class="page-link" (click)="getAll(item)">{{ item }}</a>
          </li>

          <li class="page-item" *ngIf="!response?.isLastPage">
            <a
              class="page-link"
              aria-label="Next"
              (click)="getAll(response.pageNumber + 1)"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- pagination -->

  </div>
  <!-- content -->
</div>