<nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" routerLink="">Bir Koşu Store</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="font-size: 20px;" class="nav-link active" aria-current="page" routerLink="">{{ "home" | translate }}</a>
        </li>
      </ul>
      <div class="d-flex">
        <div>
          <button
          routerLink="shopping-cart"
           class="btn btn-outline-light position-relative" type="submit">
            <i class="fa-solid fa-basket-shopping"></i>
            <span *ngIf="shopping.count > 0" class="position-absolute top-100 start-0 translate-middle badge rounded-pill bg-danger">
              {{shopping.count}}
            </span>
            {{ "cart" | translate }}
          </button>
        </div>

        <div class="ms-1">
          <select
            #langSelect
            (change)="switchLanguage(langSelect.value)"
            class="form-control langSelect"
          >
            <option value="tr">TR</option>
            <option value="en">EN</option>
          </select>
        </div>

      </div>
    </div>
  </div>
</nav>
