<h1 *ngIf="shopping.count !== 0" style="font-size: 24px" class="text-left mt-2">
  {{ "cart" | translate }} ({{ shopping.count }} {{ "product" | translate }})
</h1>
<div *ngIf="shopping.count === 0" class="card mt-3">
  <div class="card-body d-flex justify-content-between">
    <div class="mt-1 d-flex align-items-center">
      <i style="font-size: 30px" class="fa-solid fa-cart-shopping me-4"></i>
      <span style="font-size: 20px; font-weight: 500">{{
        "emptycart" | translate
      }}</span>
    </div>
    <div>
      <button routerLink="" class="btn btn-dark">
        {{ "goshopping" | translate }}
      </button>
    </div>
  </div>
</div>

<div *ngIf="shopping.count > 0" class="row mt-3">

  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9 col-12">
    <div
      *ngFor="let item of shopping.shoppingCart; let i = index"
      class="mt-2 card mb-4"
    >
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <div class="d-flex justify-content-center" style="padding: 5px 5px">
            <img
              style="height: 215px; width: 240px"
              class="img-fluid"
              [src]="item.imageUrl"
            />
          </div>
        </div>
        <div
          class="col-sm-12 col-md-5 d-flex flex-column align-items-center justify-content-center text-center"
        >
          <h4>{{ item.title }}</h4>
          <p>{{ item.description }}</p>

          <div class="d-flex align-items-center justify-content-center">
            <div class="form-group">
              <label>{{ "size" | translate }}</label>
              <select class="form-control-sm ms-1 me-3">
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
                <option value="47">47</option>
              </select>
            </div>

            <div class="form-group">
              <label class="me-1">{{ "quantity" | translate }}</label>
              <select class="form-control-sm">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-center align-items-center">
            <span class="me-4" style="font-size: 25px; font-weight: 300">{{
              item.price | currency : "₺"
            }}</span>
            <i
              (click)="shopping.removeByIndex(i)"
              style="font-size: 20px"
              class="fa-solid fa-trash"
            ></i>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3 col-12">
    <button
      data-bs-toggle="modal"
      data-bs-target="#paymentModal"
      style="font-size: 18px; font-weight: 600"
      class="mt-2 btn btn-dark text-center w-100"
    >
      {{ "checkout" | translate }}
      <i class="fa-solid fa-chevron-right"></i>
    </button>
    <div class="card mt-4 mb-4 p-3">
      <h1 style="font-size: 22px; font-weight: 350" class="text-center">
        {{ "cartsummary" | translate }}
      </h1>
      <hr />
      <ul style="padding-right: 10px">
        <li class="d-flex justify-content-between">
          <div>{{ "subtotal" | translate }}</div>
          <span>
            {{ shopping.subtotal | currency : "₺" }}
          </span>
        </li>
        <li class="d-flex justify-content-between">
          <div>{{ "shipping" | translate }}</div>
          <span>
            {{ shopping.shipping | currency : "₺" }}
          </span>
        </li>
        <li class="d-flex justify-content-between" name="discount">
          <div>{{ "discount" | translate }}</div>
          <span>
            {{ shopping.discount | currency : "₺" }}
          </span>
        </li>
      </ul>
      <hr />
      <h5 name="total" class="text-end">
        <span class="me-4">{{ "total" | translate }}</span>
        {{ shopping.total | currency : "₺" }}
      </h5>
    </div>
    <button
      data-bs-toggle="modal"
      data-bs-target="#paymentModal"
      style="font-size: 18px; font-weight: 600"
      class="btn btn-dark text-center w-100"
    >
      {{ "checkout" | translate }}
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="paymentModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="paymentModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="paymentModalLabel">{{"payment"|translate}}</h1>
        <button
          id="paymentModalCloseBtn"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="selectedTab === 1 ? 'active' : ''"
              (click)="changeTab(1)"
            >
              {{ "buyer" | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="selectedTab === 2 ? 'active' : ''"
              (click)="changeTab(2)"
            >
              {{ "address" | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="selectedTab === 3 ? 'active' : ''"
              (click)="changeTab(3)"
            >
              {{ "creditcard" | translate }}
            </a>
          </li>
        </ul>

        <!-- buyer -->
        <div *ngIf="selectedTab ===1" class="mt-3 d-flex flex-column justify-content-center">
          <form buyerForm="ngForm" autocomplete="off">
            <div class="row mt-2">
              <div class="col-6">
                <div class="form-group">
                  <label>{{"name"|translate}}</label>
                  <input type="text" name="buyerName" class="form-control" [(ngModel)]="request.buyer.name">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>{{"surname"|translate}}</label>
                  <input type="text" name="buyerSurname" class="form-control" [(ngModel)]="request.buyer.surname">
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6">
                <div class="form-group">
                  <label>{{"email"|translate}}</label>
                  <input type="email" name="buyerEmail" class="form-control" [(ngModel)]="request.buyer.email">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>{{"gsmnumber"|translate}}</label>
                  <input type="text" name="buyerGsmNumber" maxlength="11" class="form-control" placeholder="0 530 *** ** **" [(ngModel)]="request.buyer.gsmNumber">
                </div>
              </div>
            </div>
            <div class="form-group mt-2">
              <label>{{"identitynumber"|translate}}</label>
              <input type="text" name="buyerIdentityNumber" maxlength="11" class="form-control" [(ngModel)]="request.buyer.identityNumber">
            </div>
          </form>
        </div>

        <!-- addresses -->
        <div *ngIf="selectedTab ===2" class="mt-3">
          <h4 class="text-center" style="font-weight: 300;">{{"shippinginfo"|translate}}</h4>
          <form shippingAddressForm="ngForm" autocomplete="off">
            <div class="form-group">
              <label >{{"contactperson"|translate}}</label>
              <input type="text" name="contactName" class="form-control" [(ngModel)]="request.shippingAddress.contactName">
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <div class="form-group">
                  <label >{{"city"|translate}}</label>
                  <select class="form-control" [(ngModel)]="request.shippingAddress.city" name="city">
                    <option *ngFor="let item of cities" [value]="item">
                      {{item}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label >{{"zipcode"|translate}}</label>
                  <input type="text" class="form-control" [(ngModel)]="request.shippingAddress.zipCode" name="zipCode">
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <label >{{"shippingaddress"|translate}}</label>
              <textarea [(ngModel)]="request.shippingAddress.description" name="address" rows="3" class="form-control" maxlength="250"></textarea>
            </div>
          </form>

          <!-- billing address -->
          <form *ngIf="isSameAddress===false" billingAddressForm="ngForm" autocomplete="off">
            <h4 class="text-center mt-2" style="font-weight: 300;">{{"invoiceinfo"|translate}}</h4>
            <div class="form-group">
              <label >{{"contactperson"|translate}}</label>
              <input type="text" name="billingContactName" class="form-control" [(ngModel)]="request.billingAddress.contactName">
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <div class="form-group">
                  <label >{{"city"|translate}}</label>
                  <select class="form-control" [(ngModel)]="request.billingAddress.city" name="billingCity">
                    <option *ngFor="let item of cities" [value]="item">
                      {{item}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label >{{"zipcode"|translate}}</label>
                  <input type="text" class="form-control" [(ngModel)]="request.billingAddress.zipCode" name="billingZipCode">
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <label >{{"invoinceaddress"|translate}}</label>
              <textarea [(ngModel)]="request.billingAddress.description" name="billingAddress" rows="3" class="form-control" maxlength="250"></textarea>
            </div>
          </form>

          <div class="form-check form-switch">
            <input type="checkbox" 
            class="form-check-input" 
            role="switch" name="isSameAddress" 
            [(ngModel)]="isSameAddress" 
            (change)="changeIsSameAddress()">
            
            <label for="isSameAddress" class="form-check-label">
              {{"usesameaddress"|translate}}
            </label>
          </div>

        </div>

         
        <!-- credit card -->
        <div *ngIf="selectedTab ===3">
          <form creditCardForm="ngForm" class="mt-3" autocomplete="off">
            <div class="form-group">
              <label>{{"cardholder"|translate}}</label>
              <input id="cardHolderName" type="text" class="form-control" name="cardHolderName" [(ngModel)]="request.paymentCard.cardHolderName">
            </div> 
            <div class="form-group mt-3">
              <label>{{"cardnumber"|translate}}</label>
              <div class="row">
                <div class="col-2">
                  <input type="text" [maxlength]="4" class="form-control" name="cardNumber1" [(ngModel)]="cardNumber1" (keypress)="onKeyPress($event)">
                </div>
                <div class="col-2">
                  <input type="text" [maxlength]="4" class="form-control" name="cardNumber2" [(ngModel)]="cardNumber2" (keypress)="onKeyPress($event)">
                </div>
                <div class="col-2">
                  <input type="text" [maxlength]="4" class="form-control" name="cardNumber3" [(ngModel)]="cardNumber3" (keypress)="onKeyPress($event)">
                </div>
                <div class="col-2">
                  <input type="text" [maxlength]="4" class="form-control" name="cardNumber4" [(ngModel)]="cardNumber4" (keypress)="onKeyPress($event)">
                </div>
              </div>
            </div>
            <div class="row mt-3 text-center">
              <div class="col-2">
                <div class="form-group">
                  <label>
                    {{"month"|translate}}
                  </label>
                  <select class="form-control text-center" [(ngModel)]="request.paymentCard.expireMonth" id="expireMonth" name="expireMonth">
                    <option *ngFor="let item of months" [value]="item">
                      {{item}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label>
                    {{"year"|translate}}
                  </label>
                  <select class="form-control text-center" [(ngModel)]="request.paymentCard.expireYear" id="expireYear" name="expireYear">
                    <option *ngFor="let item of years" [value]="item">
                      {{item}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label>
                    CVC
                  </label>
                  <input type="text" [maxlength]="3" (keypress)="onKeyPress($event)" id="cvc" name="cvc" class="form-control text-center" [(ngModel)]="request.paymentCard.cvc">
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          {{ "cancel" | translate }}
        </button>
        <button
          *ngIf="selectedTab < 3"
          (click)="changeTab(selectedTab + 1)"
          type="button"
          class="btn btn-dark"
        >
          {{ "next" | translate }}
        </button>
        <button
          *ngIf="selectedTab == 3"
          (click)="payment()"
          type="button"
          class="btn btn-success"
        >
          {{ "confirm" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>